{% extends 'back.html.twig' %}

{% block title %}Recette index{% endblock %}

{% block body %}
    <h1>All Recettes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Picture</th>
                <th>TypeDePreparation</th>
                <th>Ingredient</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for recette in recettes %}
            <tr>
                <td>{{ loop.index }}</td> {# Use loop.index to display the index #}
                <td>
                    {% if recette.Picture %}
                        <img src="{{ asset('pictureRecettes/' ~ recette.Picture) }}" style="max-width: 80px; max-height: 80px;">
                    {% else %}
                        No picture available
                    {% endif %}
                </td> 
                <td>{{ recette.typeDePreparation }}</td>
                <td>{{ recette.ingredient }}</td>
                <td>
                    <a href="{{ path('app_recette_show', {'id': recette.id}) }}" class="btn btn-outline-secondary">show</a>
                    <a href="{{ path('app_recette_edit', {'id': recette.id}) }}" class="btn btn-primary">edit</a>
                        {{ include('recette/_delete_form.html.twig') }}

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_recette_new') }}" class="btn btn-success">    <i class="bi bi-plus-circle"></i> Create new</a>
{% endblock %}
