{% extends 'back.html.twig' %}

{% block title %}Recette{% endblock %}

{% block body %}
    <h1>Recette</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ recette.id }}</td>
            </tr>
            <tr>
                <th>TypeDePreparation</th>
                <td>{{ recette.typeDePreparation }}</td>
            </tr>
            <tr>
                <th>Picture</th>
                <td>{{ recette.Picture }}</td>
            </tr>
            <tr>
                <th>Ingredient</th>
                <td>{{ recette.ingredient }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_recette_index') }}">back to list</a>

    <a href="{{ path('app_recette_edit', {'id': recette.id}) }}">edit</a>

    {{ include('recette/_delete_form.html.twig') }}
{% endblock %}
